.git
.github
.gradle
.idea
.kotlin
composeApp
iosApp
build
composeApp/build
shared/build
server/build
iosApp/build
iosApp/.build
out
logs
local.properties
run-server.sh
tree.txt
*.log
*.iml
.DS_Store
